body {
	font-family: 'PT Sans'
} 

table, th, td {
	border: 1px solid #AAAAAA; 
	border-collapse: collapse; 
	padding: 0.25em;
} 

p {
	margin: 0 0.25em;
} 

td img { 
  vertical-align: top;
  padding-top: 0.1em; /* Correct for the approximate padding that comes by default */
}

.reportimg {
	max-height: 32px;
}

.reportimg-sm {
	max-height: 16px;
}

#nav {
	float: center;
	text-align: center;
	margin: auto; 
}

#nav ul {
	padding: 0; /* Remove left indent */
}

#footernav {
	float: center;
	text-align: center;
	border: 2px solid #0066FF;
	padding: 4px;
}

#footernav ul {
	padding: 0; /* Remove left indent */
}

#footernavheader {
	background-color: #EEEEFF;
	border-top: 2px solid #0066FF;
	border-bottom: 2px solid #0066FF;
}

.navitem {
	display: inline-block;
	text-decoration: none;
	background-color: #AAEEFF;
	padding: 4px;
	margin: 1px;
	border: 2px double #AAEEFF;
}

.navitem:hover {
	border: 2px double #6699BB;
}

.navitem a {
	padding: 2px;
	text-decoration: none;
	color: #001122;
}

.dropmode {
	background-color: #AAEEFF;
	border-left: 4px double #6699BB;
	padding: 4px 4px;
}

.flexcontainer {
	display: flex;
	flex-direction: column;
}

.flexcontainer-inner {
	display: flex;
	flex-direction: row;
	padding: 4px;
}